:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}
a:not(.subtle) {
  font-weight: bold;
}
a:not(.subtle),
a.subtle:hover {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.doc-content {
  max-width: 100% !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  position: relative;
  font-family: serif !important;
  font-weight: 400 !important;
  transition: 0.1s;

  &:hover,
  &:hover span {
    color: brown !important;
  }
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  position: absolute;
  right: calc(100% + 1ch);
}
h1::before {
  content: "# ";
}
h2::before {
  content: "## ";
}
h3::before {
  content: "### ";
}
h4::before {
  content: "#### ";
}
h5::before {
  content: "##### ";
}
h6::before {
  content: "###### ";
}

h1,
h1 span {
  font-size: 40px !important;
}
h2,
h2 span {
  font-size: 32px !important;
}
h3,
h3 span {
  font-size: 28px !important;
}
h4,
h4 span {
  font-size: 24px !important;
}
h5,
h5 span {
  font-size: 20px !important;
}
h6,
h6 span {
  font-size: 16px !important;
}

p,
p span,
li,
li span {
  font-family: sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  transition: 0.1s;
  line-height: 22.4px !important;
}

p,
p span {
  margin: 1em 0;
}

header,
footer {
  background: #f2f2f2;
  padding: 2em 0;
}

aside {
  border-radius: 4px;
  background: rgb(222, 235, 255);
  padding: 8px;
  p {
    margin: 0;
  }
}
